:root {
    /* Color palette */
    --gray-0: #E9ECEF;
    --gray-20: #CED4DA;
    --gray-40: #ADB5BD;
    --gray-60: #6C757D;
    --gray-80: #495057;
    --gray-100: #212529;
    --dark-blue-60: #1082A8;
    --dark-blue-80: #0A5770;
    --dark-blue-100: #073B4C;
    --blue-60: #7CD5F3;
    --blue-80: #15ADE0;
    --blue-100: #118AB2;
    --green-60: #88FCDD;
    --green-80: #10F9BB;
    --green-100: #06D6A0;
    --yellow-60: #FFEDC2;
    --yellow-80: #FFE099;
    --yellow-100: #FFD166;
    --red-60: #F7A1B5;
    --red-80: #F47C98;
    --red-100: #EE6352;
}

html {
    font-family: 'Work Sans', sans-serif;
    letter-spacing: -0.02em;
}

body {
    background-color: var(--gray-0);
}

h1 {
    color: black;
    font-size: 34px;
    line-height: 40px;

}

h2 {
    color: var(--blue-100);
    font-size: 20px;
    line-height: 23px;
}

p {
    
}