mark {
	color: transparent;
	background-color: lightblue; /* or whatever */
}

textarea {
	margin: 0;
	border-radius: 0;
	color: #444; /* or whatever */
  	background-color: transparent;
}

.textarea-backdrop {
	overflow: auto;
	background-color: #fff;
}

.textarea-highlights {
	white-space: pre-wrap;
	word-wrap: break-word;
	color: transparent;
}

.disable-select {
	-webkit-user-select: none;  
	-moz-user-select: none;    
	-ms-user-select: none;      
	user-select: none;
}  

.App {
    text-align: center;
	height: 100vh;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Color Palette
	primary color		pc	#c7d2fe
	secondary color		sc	#2497E3
	background color	bc	#64748b
	background-focus	bf	#4b5563
	checked color 		cc	#4d7c0f	
*/

input[type=range] {
	height: 5px;
	width: 50%;
	-webkit-appearance: none;
}
input[type=range]:focus {
	outline: none;
}

/* Track */
input[type=range]::-webkit-slider-runnable-track {
	height: 5px;
	width: 100%;
	cursor: pointer;
	background: /*bc*/#64748b;
	border-radius: 1px;
}
input[type=range]::-moz-range-track {
	height: 5px;
	width: 100%;
	cursor: pointer;
	background: /*bc*/#64748b;
	border-radius: 1px;
}

/* Thumb */
input[type=range]::-webkit-slider-thumb {
	height: 20px;
	width: 5px;
	background: /*pc*/#c7d2fe;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -7px;
	border-radius: 15px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
	background: /*bf*/#4b5563;
}

input[type=range]::-moz-range-thumb {
	height: 20px;
	width: 5px;
	background: /*pc*/#c7d2fe;
	cursor: pointer;
	border-radius: 15px;
}
input[type=range]::-ms-track {
	width: 50%;
	height: 5px;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
}
input[type=range]::-ms-thumb {
	margin-top: 1px;
	height: 20px;
	width: 5px;
	border-radius: 15px;
	background: /*pc*/#c7d2fe;
	cursor: pointer;
}
input[type=range]::-ms-fill-lower {
	background: /*pc*/#c7d2fe;
	border-radius: 2px;
}
input[type=range]::-ms-fill-upper {
	background: /*bf*/#4b5563;
	border-radius: 2px;
}
input[type=range]:focus::-ms-fill-lower {
	background: /*pc*/#c7d2fe;
}
input[type=range]:focus::-ms-fill-upper {
	background: /*bf*/#4b5563;
}

input[type=radio] {
	/* Add if not using autoprefixer */
	-webkit-appearance: none;
	appearance: none;
	/* For iOS < 15 to remove gradient background */
	background-color: transparent;
	/* Not removed via appearance */
	margin: 0;

	font: inherit;
	color: /*bg*/#64748b;
	width: 15px;
	height: 15px;
	border: 0.15em solid /*bg*/#64748b;
	border-radius: 50%;

	display: grid;
  	place-content: center;
	margin: 3px;
}

input[type="radio"]::before {
	content: "";
	width: 0.65em;
	height: 0.65em;
	border-radius: 50%;
	transform: scale(0);
	transition: 120ms transform ease-in-out;
	box-shadow: inset 1em 1em var(--form-control-color);
}
  
input[type="radio"]:checked::before {
	transform: scale(1);
}

input[type="radio"]:checked {
	background-color: /*cc*/#4d7c0f;
	outline: max(2px, 0.15em) solid /*bg*/#64748b;
	outline-offset: max(2px, 0.15em);
}

input[type="radio"]:focus {
	outline: max(2px, 0.15em) solid /*bg*/#64748b;
	outline-offset: max(2px, 0.15em);
}
  


