mark {
	color: transparent;
	background-color: lightblue; /* or whatever */
}

textarea {
	margin: 0;
	border-radius: 0;
	color: #444; /* or whatever */
  	background-color: transparent;
}

.textarea-backdrop {
	overflow: auto;
	background-color: #fff;
}

.textarea-highlights {
	white-space: pre-wrap;
	word-wrap: break-word;
	color: transparent;
}

.disable-select {
	-webkit-user-select: none;  
	-moz-user-select: none;    
	-ms-user-select: none;      
	user-select: none;
}  

.App {
    text-align: center;
	height: 100vh;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

input[type=range] {
	height: 5px;
	-webkit-appearance: none;
	width: 50%;
}
input[type=range]:focus {
	outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
	width: 50%;
	height: 5px;
	cursor: pointer;
	animate: 0.2s;
	background: #64748b;
	border-radius: 1px;
}
input[type=range]::-webkit-slider-thumb {
	box-shadow: 0px 0px 0px #000000;
	border: 1px solid #a5b4fc;
	height: 20px;
	width: 5px;
	border-radius: 15px;
	background: #A1D0FF;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -7px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
	background: #4b5563;
}
input[type=range]::-moz-range-track {
	width: 100%;
	height: 5px;
	cursor: pointer;
	animate: 0.2s;
	background: #64748b;
	border-radius: 1px;
}
input[type=range]::-moz-range-thumb {
	border: 1px solid #a5b4fc;
	height: 20px;
	width: 5px;
	border-radius: 15px;
	background: #A1D0FF;
	cursor: pointer;
}
input[type=range]::-ms-track {
	width: 50%;
	height: 5px;
	cursor: pointer;
	animate: 0.2s;
	background: transparent;
	border-color: transparent;
	color: transparent;
}
input[type=range]::-ms-fill-lower {
	background: #2497E3;
	border: 0px solid #000000;
	border-radius: 2px;
	box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
	background: #2497E3;
	border: 0px solid #000000;
	border-radius: 2px;
	box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
	margin-top: 1px;
	box-shadow: 0px 0px 0px #000000;
	border: 1px solid #2497E3;
	height: 18px;
	width: 18px;
	border-radius: 25px;
	background: #A1D0FF;
	cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
	background: #111111;
}
input[type=range]:focus::-ms-fill-upper {
	background: #111111;
}
